<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Agendamento</title>
    <style>
        .mensagem {
            color: red;
        }
    </style>
</head>
<body class="light:bg-light-background">

<!-- Configuração do tema -->
<div th:replace="~{fragments/config :: config_default}"></div>
<!-- Navbar -->
<div th:replace="~{fragments/navbar :: navbar}"></div>
<!-- Items fixos do tema -->
<div th:replace="~{fragments/botaosubir :: botaosubir}"></div>
<div th:replace="~{fragments/config :: inserir_}"></div>
<!-- Espaçamento entre a navbar e o conteúdo principal -->
<div class="max-w-7xl mx-auto p-4 md:p-8 pt-24"></div>

<div class="container">
    <div class="row">
        <div class="col">

            <!-- Mensagem carregada após a inserção dos dados-->
            <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <span th:text="${mensagem}"></span>
            </div>

            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Cadastro de <b>Agendamentos</b></h2>
                        </div>
                        <div class="col-sm-6 text-end">
                            <a th:href="@{/agendamento}" class="btn btn-primary"> Listagem <i class="fas fa-list"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Formulário de cadastro -->
                <form th:action="@{/agendamento/salvar}" th:object="${agendamento}" method="post" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}">

                    <input type="hidden" th:field="*{pet.id}">

                    <div class="mb-3">
                        <label class="form-label">Pet</label>
                        <input type="text" class="form-control" th:value="${agendamento.pet.nome}" readonly disabled/>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            Dados do Agendamento
                        </div>

                        <div class="card-body">

                            <!-- Tipo -->
                            <div class="mb-3">
                                <label class="form-label">Procedimento</label>
                                <select class="form-select" th:field="*{procedimento.id}" required>
                                    <option value="">Selecione um Procedimento</option>
                                    <option th:each="proc : ${procedimentos}"
                                            th:value="${proc.id}"
                                            th:text="${proc.nome}"> </option>
                                </select>
                                <span th:if="${#fields.hasErrors('procedimento')}" th:errors="*{procedimento}" class="text-danger">Procedimento Error</span>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Data</label>
                                <input type="date" class="form-control" th:field="*{data}" required/>
                                <span th:if="${#fields.hasErrors('data')}" th:errors="*{data}" class="text-danger">Data Error</span>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Hora</label>
                                <input type="time" class="form-control" th:field="*{horario}" required/>
                                <span th:if="${#fields.hasErrors('horario')}" th:errors="*{horario}" class="text-danger">Hora Error</span>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Status</label>
                                <select class="form-select" th:field="*{status}" required>
                                    <option value="">Selecione um Status</option>
                                    <option value="PENDENTE" th:selected="${agendamento.status == 'PENDENTE'}">PENDENTE</option>
                                    <option value="CANCELADO" th:selected="${agendamento.status == 'CANCELADO'}">CANCELADO</option>
                                    <option value="CONCLUIDO" th:selected="${agendamento.status == 'CONCLUIDO'}">CONCLUIDO</option>
                                </select>
                                <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="text-danger">Status Error</span>
                            </div>


                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-sm-6">
                            <button class="btn btn-success" type="submit"> Salvar <i class="fas fa-save"></i></button>
                        </div>
                        <div class="col-sm-6 text-end">
                            <a th:href="@{/agendamento}" class="btn btn-primary"> Voltar <i class="fas fa-undo"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Rodapé -->
        <!--<div th:replace="fragments/footer :: footer"></div>-->
    </div>
</div>

</body>
</html>
