<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Estoque</title>
    <style>
        .mensagem {
            color: red;
        }
    </style>
</head>
<body class="light:bg-light-background">

<!-- Configuração do tema -->
<div th:replace="~{fragments/config :: config_default}"></div>
<!-- Navbar -->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div th:replace="~{fragments/estoque :: estoque}"></div>
<!-- Items fixos do tema -->
<div th:replace="~{fragments/botaosubir :: botaosubir}"></div>

<div th:replace="~{fragments/config :: inserir_}"></div>


<!-- Espaçamento entre a navbar e o conteúdo principal -->
<div class="max-w-7xl mx-auto p-4 md:p-8 pt-24"></div>

<div class="container">
    <div class="row">
        <div class="col">

            <!-- Mensagem carregada após a inserção dos dados-->
            <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <span th:text="${mensagem}"></span>
            </div>

            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Cadastro de <b>Estoques</b></h2>
                        </div>
                        <div class="col-sm-6 text-end">
                            <a th:href="@{/estoque}" class="btn btn-primary"> Listagem <i class="fas fa-list"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Formulário de cadastro -->
                <form th:action="@{/estoque/salvar}" th:object="${estoque}" method="post" enctype="multipart/form-data">

                    <div class="card">
                        <div class="card-header">
                            Dados do Estoque
                        </div>

                        <div class="card-body">

                            <!-- Nome -->
                            <div class="form-control form-control-sm">
                                <label class="col-sm-12 col-form-label">Nome:</label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="text" th:field="*{nome}">
                                </div>
                                <div class="col-sm-12">
                                    <span class="mensagem" th:if="${#fields.hasErrors('nome')}"
                                          th:errors="*{nome}"></span>
                                </div>
                            </div>

                            <!-- Tipo -->
                            <div class="form-control form-control-sm">
                                <label class="col-sm-12 col-form-label">Tipo:</label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="text" th:field="*{tipo}">
                                </div>
                                <div class="col-sm-12">
                                    <span class="mensagem" th:if="${#fields.hasErrors('tipo')}"
                                          th:errors="*{tipo}"></span>
                                </div>
                            </div>

                            <!-- Descrição -->
                            <div class="form-control form-control-sm">
                                <label class="col-sm-12 col-form-label">Descrição:</label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="text" th:field="*{descricao}">
                                </div>
                                <div class="col-sm-12">
                                    <span class="mensagem" th:if="${#fields.hasErrors('descricao')}"
                                          th:errors="*{descricao}"></span>
                                </div>
                            </div>

                            <!-- Quantidade -->
                            <div class="form-control form-control-sm">
                                <label class="col-sm-12 col-form-label">Quantidade:</label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="number" th:field="*{qntd}">
                                </div>
                                <div class="col-sm-12">
                                    <span class="mensagem" th:if="${#fields.hasErrors('qntd')}"
                                          th:errors="*{qntd}"></span>
                                </div>
                            </div>

                            <!-- Preço -->
                            <div class="form-control form-control-sm">
                                <label class="col-sm-12 col-form-label">Preço de Venda:</label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="number" step="0.01" th:field="*{precoVenda}">
                                </div>
                                <div class="col-sm-12">
                                    <span class="mensagem" th:if="${#fields.hasErrors('precoVenda')}"
                                          th:errors="*{precoVenda}"></span>
                                </div>
                            </div>

                            <!-- Foto -->
                            <div class="form-control form-control-sm">
                                <label class="col-sm-12 col-form-label">Foto:</label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="file" name="imagem">
                                </div>
                            </div>

                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-sm-6">
                            <button class="btn btn-success" type="submit"> Salvar <i class="fas fa-save"></i></button>
                        </div>
                        <div class="col-sm-6 text-end">
                            <a th:href="@{/estoque}" class="btn btn-primary"> Voltar <i class="fas fa-undo"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Rodapé -->
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>

</body>
</html>
