<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Fragmento de código que será substituído pelo conteúdo do fragmento "heads" -->

    <title>Fazer alteração do Tutor</title>
    <style>
        .mensagem {
            color: red;
        }
    </style>
</head>

<!-- Include o fragmento de configuração -->
<body class="light:bg-light-background">
<!-- Configuração do tema -->
<div th:replace="~{fragments/config :: config_default}"></div>
<!-- Navbar -->
<div th:replace="~{fragments/navbar :: navbar}"></div>
<!-- Items fixos do tema -->
<div th:replace="~{fragments/botaosubir :: botaosubir}"></div>
<!--<div th:replace="~{fragments/botaoAdicionar :: botaoAdicionar}"></div>-->
<div th:replace="~{fragments/config :: inserir_}"></div>
<!--espaçamento entre a navbar e o conteúdo principal-->
<div class="max-w-7xl mx-auto p-4 md:p-8 pt-24"></div>


<div class="container">
    <!-- Fragmento de código que será substituído pelo conteúdo do fragmento "cabecalho" -->
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="row">
        <div class="col">

            <!-- Mensagem carregada após a inserção dos dados-->
            <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <span th:text="${mensagem}"></span>
            </div>

            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Alterar <b>Tutor</b></h2>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-12" style="text-align: right;">
                                <a th:href="@{/tutor}" class="btn btn-primary"> Listagem <i class="fas fa-list"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Formulário de cadastro de tutors th:action="@{/tutor/salvar} recurso do Thymeleaf -->
                <form th:action="@{/tutor/salvar}" th:object="${tutor}" method="post">
                    <input type="hidden" th:field="*{id}">

                    <div class="card">
                        <div class="card-header">
                            Dados do Tutor
                        </div>

                        <div class="card-body">
                            <div class="form-control form-control-sm">
                                <label class="col-sm-12 col-form-label">Nome:</label>
                                <div class="col-sm-12">

                                    <!-- th:field="*{nome}" recurso do Thymeleaf. Carrega o atributo nome do objeto tutor -->
                                    <input class="form-control" type="text" th:field="*{nome}">
                                    <br>
                                </div>
                                <div class="col-sm-12">
                                    <!-- Mensagem de erro caso o campo nome tenha algum erro de validação -->
                                    <span class="mensagem" th:if="${#fields.hasErrors('nome')}"
                                          th:errors="*{nome}">
                                    </span>
                                </div>
                            </div>

                            <div class="form-control form-control-sm">
                                <label class="col-sm-12 col-form-label">Email:</label>
                                <div class="col-sm-12">

                                    <!-- th:field="*{email}" recurso do Thymeleaf. Carrega o atributo email do objeto tutor -->
                                    <input class="form-control" type="text" th:field="*{email}">
                                    <br>
                                </div>
                                <div class="col-sm-12">

                                    <!-- Mensagem de erro caso o campo email tenha algum erro de validação -->
                                    <span class="mensagem" th:if="${#fields.hasErrors('email')}"
                                          th:errors="*{email}">
                                    </span>
                                </div>
                            </div>

                            <div class="form-control form-control-sm">
                                <label class="col-sm-12 col-form-label">Telefone:</label>
                                <div class="col-sm-12">

                                    <!-- th:field="*{nome}" recurso do Thymeleaf. Carrega o atributo nome do objeto tutor -->
                                    <input class="form-control" type="text" th:field="*{telefone}">
                                    <br>
                                </div>
                                <div class="col-sm-12">
                                    <!-- Mensagem de erro caso o campo dataDeNascimento tenha algum erro de validação -->
                                    <span class="mensagem" th:if="${#fields.hasErrors('telefone')}"
                                          th:errors="*{telefone}">
                                    </span>
                                </div>
                            </div>

                            <div class="form-control form-control-sm">
                                <label class="col-sm-12 col-form-label">CPF:</label>
                                <div class="col-sm-12">

                                    <!-- th:field="*{ano}" recurso do Thymeleaf. Carrega o atributo ano do objeto tutor -->
                                    <input class="form-control" type="text" th:field="*{cpf}">
                                    <br>
                                </div>
                                <div class="col-sm-12">

                                    <!-- Mensagem de erro caso o campo ano tenha algum erro de validação -->
                                    <span class="mensagem" th:if="${#fields.hasErrors('cpf')}"
                                          th:errors="*{cpf}">
                                    </span>
                                </div>
                            </div>



                            <div>
                                <a class="btn btn-success" th:href="@{/pet/inserir/{id}(id=${tutor.id})}">
                                    Inserir Pet
                                </a>
                            </div>

                        </div>
                    </div>

                    <br>

                    <table class="table table-bordered table-striped">
                        <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Raça</th>
                            <th>Porte</th>
                            <th>Especie</th>
                            <th>Ações</th>


                        </tr>
                        </thead>
                       <tr th:each="pets : ${tutor.pet}">
                           <td><span th:text="${pets.id}"> ID </span></td>
                           <td><span th:text="${pets.nome}"> Nome </span></td>
                           <td><span th:text="${pets.raca}"> Email </span></td>
                           <td><span th:text="${pets.porte}"> CPF </span></td>
                           <td><span th:text="${pets.especie}"> Telefone </span></td>


                           <td>
                               <!-- Recurso do Themyleaf. Carrega o id do pet para ser alterado -->
                               <a th:href="@{/pet/alterar/{id}(id=${pets.id})}" class="edit" data-toggle="modal">
                                   <i class="material-icons" data-toggle="tooltip" title="Alterar">&#xE254;</i>
                               </a>
                               <a th:href="@{/pet/excluir/{id}(id=${pets.id})}"
                                  th:data-confirm-delete="|Você gostaria de apagar ${pets.nome}?|"
                                  onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
                                  class="delete">
                                   <i class="material-icons" data-toggle="tooltip" title="Excluir">&#xE872;</i>
                               </a>

                           </td>
                       </tr>
                   </table>

                    <div class="row">
                        <div class="col-sm-6">
                            <button class="btn btn-success" type="submit"> Salvar <i class="fas fa-save"></i></button>
                        </div>
                        <div class="col-sm-6" style="text-align: right;">
                            <a th:action="@{/tutor/retornar}" class="btn btn-primary"> Voltar <i class="fas fa-save"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Fragmento de código que será substituído pelo conteúdo do fragmento "footer" -->
        <div th:replace="fragments/footer :: footer">
        </div>
    </div>
</div>
</body>
</html>
